<dl>
    {% for result in search_results %}
        <dt>
            <a href="{{ result.url }}">{{ result.htmlTitle | raw}}</a>
        </dt>
        <dd class="search-results-content">
            {% if result.thumbnail is defined and result.thumbnail %}
                <img class="search-results-thumbnail" src="{{ result.thumbnail.src }}" alt="" />
            {% endif %}
            <div class="search-results-snippet">
                {{ result.htmlSnippet | raw }}
            </div>
        </dd>
        <dd class="search-results-path">{{ result.htmlUrl }}</dd>
    {% endfor %}
</dl>
